{
  "openapi": "3.1.0",
  "info": {
    "title": "AWLL Studio API",
    "description": "AWLL Studio プラットフォーム REST API\n\n## 概要\nマルチテナント対応のフォーム駆動業務プラットフォームAPI\n\n## 認証\n- **Bearer Token (JWT)**: `POST /api/auth/token` でトークンを取得\n- **IDトークン推奨**: `Authorization: Bearer <id_token>`\n- **権限**: テナントごとのロールベースアクセス制御（RBAC）\n\n## Rate Limiting\n- **制限**: 60 requests / minute（ユーザー単位）\n- **超過時**: HTTP 429 Too Many Requests\n- **ヘッダー**: X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset\n\n## エラーレスポンス\n全エラーは以下の形式で返却:\n```json\n{\n  \"timestamp\": \"2026-03-14T12:34:56.789Z\",\n  \"status\": 400,\n  \"error\": \"Bad Request\",\n  \"message\": \"Validation failed\",\n  \"path\": \"/api/v1/forms\"\n}\n```\n\n## ページネーション\n一覧系エンドポイントは以下のパラメータをサポート:\n- `limit`: 取得件数上限（デフォルト20、最大100）\n- `nextToken`: 次ページ取得用トークン\n\n## マルチテナント\n- **テナント判定**: JWTから自動抽出\n- **データ分離**: テナントごとに完全分離されたデータアクセス\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.awll-studio.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "ユーザー情報API"
    },
    {
      "name": "Screens",
      "description": "スクリーン管理API - 画面定義のCRUD操作、公開、デプロイ、ロールバック"
    },
    {
      "name": "Webhooks",
      "description": "Webhook管理API"
    },
    {
      "name": "Form Answers",
      "description": "回答管理API - 回答のCRUD操作、コピー、CSV出力、インデックス再構築"
    },
    {
      "name": "Nodes",
      "description": "ノード管理API - 階層データのCRUD操作"
    },
    {
      "name": "Auth",
      "description": "認証情報API"
    },
    {
      "name": "Database Permissions",
      "description": "データベース権限管理API - 権限チェック、付与、取り消し"
    },
    {
      "name": "Aggregates",
      "description": "集計API - COUNT、SUM、AVERAGE、MAX、MIN、GROUP BY集計"
    },
    {
      "name": "Menus",
      "description": "サイドバーメニュー管理API"
    },
    {
      "name": "Invitations",
      "description": "ユーザー招待管理API - 招待の承認"
    },
    {
      "name": "Patch Answers",
      "description": "回答差分更新API - 楽観ロック付き差分更新"
    },
    {
      "name": "Forms",
      "description": "データベース管理API - フォーム定義のCRUD操作、AI自動生成、公開設定管理"
    },
    {
      "name": "Search",
      "description": "検索API - 高度検索、全文検索、ファセット検索、範囲検索"
    }
  ],
  "paths": {
    "/api/v1/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhook取得",
        "description": "指定IDのWebhookエンドポイントを取得します。",
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webhookが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhook更新",
        "description": "指定IDのWebhookエンドポイントを更新します。",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webhookが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhook削除",
        "description": "指定IDのWebhookエンドポイントを削除します（冪等：存在しなくても200を返す）。",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "削除成功（または既に存在しない）",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/screens/{screenId}": {
      "get": {
        "tags": [
          "Screens"
        ],
        "summary": "画面取得",
        "description": "\n            指定IDの画面定義を取得します（DRAFT優先で最新バージョン）。\n\n            **権限:** SCREEN_DEFINITION:READ\n        ",
        "operationId": "getScreen",
        "parameters": [
          {
            "name": "screenId",
            "in": "path",
            "description": "画面ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "404": {
            "description": "画面が存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Screens"
        ],
        "summary": "画面更新",
        "description": "\n            画面定義を部分更新します。DRAFT状態は上書き、PUBLISHED状態は新DRAFTバージョン作成。\n\n            **権限:** SCREEN_DEFINITION:WRITE\n        ",
        "operationId": "updateScreen",
        "parameters": [
          {
            "name": "screenId",
            "in": "path",
            "description": "画面ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScreenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "404": {
            "description": "画面が存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Screens"
        ],
        "summary": "画面削除",
        "description": "\n            画面定義を論理削除します。\n\n            **権限:** SCREEN_DEFINITION:WRITE\n        ",
        "operationId": "deleteScreen",
        "parameters": [
          {
            "name": "screenId",
            "in": "path",
            "description": "画面ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "権限不足"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/menu": {
      "get": {
        "tags": [
          "Menus"
        ],
        "summary": "サイドバーメニュー取得",
        "description": "\n            テナントのサイドバーメニューを取得します。権限に応じてフィルタリングされます。\n\n            **権限:** 認証済みユーザー（全ロール）\n        ",
        "operationId": "getMenu",
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarMenuDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarMenuDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Menus"
        ],
        "summary": "サイドバーメニュー更新",
        "description": "\n            サイドバーメニューを更新します。更新時にキャッシュが無効化されます。\n\n            **権限:** MENU:WRITE\n        ",
        "operationId": "updateMenu",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMenuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarMenuDTO"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarMenuDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarMenuDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足（MENU:WRITE必須）",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarMenuDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "データベース取得",
        "description": "\n            指定IDのデータベース定義を取得します（DRAFT優先で最新バージョン）。\n\n            **権限:** FORM_DEFINITION:READ + VIEW権限\n        ",
        "operationId": "getForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "404": {
            "description": "データベースが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "データベース更新",
        "description": "\n            データベース定義を更新します。常にPUBLISHED状態で保存されます。\n\n            **権限:** FORM_DEFINITION:WRITE + EDIT権限\n        ",
        "operationId": "updateForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "404": {
            "description": "データベースが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "データベース削除",
        "description": "\n            データベース定義を削除します。\n\n            **権限:** FORM_DEFINITION:WRITE + EDIT権限\n        ",
        "operationId": "deleteForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "権限不足"
          },
          "404": {
            "description": "データベースが存在しない"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/answers/{answerId}": {
      "get": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答取得",
        "description": "\n            指定IDの回答を取得します。再計算・階層的enrichオプション対応。\n\n            **権限:** FORM_ANSWER:READ + BUSINESS_ACCESS権限\n        ",
        "operationId": "getAnswer",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recalculate",
            "in": "query",
            "description": "最新スキーマで再計算するか",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "enrich",
            "in": "query",
            "description": "Enrichモード",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "hierarchical"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "404": {
            "description": "回答が存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答更新",
        "description": "\n            既存の回答を更新します。バリデーション付き。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "updateAnswer",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormAnswerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "404": {
            "description": "回答が存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答削除",
        "description": "\n            指定IDの回答を削除します。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "deleteAnswer",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "権限不足"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Patch Answers"
        ],
        "summary": "回答差分更新",
        "description": "\n            楽観ロック（If-Matchヘッダー）を使用して回答を差分更新します。\n\n            **権限:** FORM_ANSWER:WRITE\n        ",
        "operationId": "patchAnswer",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "楽観ロックバージョン（ETag形式）",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAnswerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerDetailResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerDetailResponse"
                }
              }
            }
          },
          "409": {
            "description": "楽観ロック競合",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/answers/bulk": {
      "put": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答一括更新",
        "description": "\n            複数の回答を一括更新します（最大100件）。部分成功をサポートし、個別の結果を返します。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "bulkUpdateAnswers",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "一括更新結果",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答一括作成",
        "description": "\n            複数の回答を一括作成します（最大100件）。部分成功をサポートし、個別の結果を返します。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "bulkCreateAnswers",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "一括作成結果",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー（件数超過等）",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/answers/{answerId}/nodes/{rowId}": {
      "get": {
        "tags": [
          "Nodes"
        ],
        "summary": "ノード取得（祖先情報含む）",
        "description": "\n            指定IDのノードを祖先情報とともに取得します。ARRAYフィールドデータをenrichして返します。\n\n            **権限:** USER または ADMIN\n        ",
        "operationId": "getNodeWithAncestors",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "description": "行ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeWithAncestorsResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeWithAncestorsResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeWithAncestorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "ノードが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeWithAncestorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Nodes"
        ],
        "summary": "ノード更新",
        "description": "\n            指定IDのノードデータを更新します。検索インデックスも同期更新されます。\n\n            **権限:** USER または ADMIN\n        ",
        "operationId": "updateNode",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "description": "行ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "404": {
            "description": "ノードが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Nodes"
        ],
        "summary": "ノード削除（CASCADE）",
        "description": "\n            指定IDのノードと全子孫ノードをCASCADE削除します。\n\n            **権限:** USER または ADMIN\n        ",
        "operationId": "deleteNode",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "description": "行ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "権限不足"
          },
          "404": {
            "description": "ノードが存在しない"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhook一覧取得",
        "description": "現在のテナントに登録されているWebhookエンドポイント一覧を取得します。",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhook作成",
        "description": "新しいWebhookエンドポイントを登録します。",
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "作成成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/webhooks/{webhookId}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhookテスト送信",
        "description": "指定IDのWebhookエンドポイントにテストイベントを送信します。",
        "operationId": "testWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "テスト送信成功",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhookが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/me/password": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "パスワード変更",
        "description": "\n            ログインユーザー自身のパスワードを変更します。パスワードポリシーに準拠する必要があります。\n\n            **権限:** 認証済みユーザー（全ロール）\n        ",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "変更成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "パスワードポリシー違反または変更失敗",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/screens": {
      "get": {
        "tags": [
          "Screens"
        ],
        "summary": "画面一覧取得",
        "description": "\n            画面定義一覧を取得します。ページネーション・ステータスフィルタ対応。\n\n            **権限:** SCREEN_DEFINITION:READ\n        ",
        "operationId": "listScreens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "取得件数上限（デフォルト20、最大100）",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "次ページ取得用トークン",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "画面ステータスフィルタ",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED",
                "DELETED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultDTOScreenSummaryDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultDTOScreenSummaryDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Screens"
        ],
        "summary": "新規画面作成",
        "description": "\n            新しい画面定義を作成します。\n\n            **権限:** SCREEN_DEFINITION:WRITE\n        ",
        "operationId": "createScreen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScreenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "409": {
            "description": "screenCode重複",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/screens/{screenId}/rollback": {
      "post": {
        "tags": [
          "Screens"
        ],
        "summary": "画面ロールバック",
        "description": "\n            指定バージョンにロールバックし、ストレージのpublished/を更新します。\n\n            **権限:** SCREEN_DEFINITION:WRITE\n        ",
        "operationId": "rollbackScreen",
        "parameters": [
          {
            "name": "screenId",
            "in": "path",
            "description": "画面ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackScreenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ロールバック成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackScreenResponse"
                }
              }
            }
          },
          "400": {
            "description": "対象バージョンにcompiledCodeがない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackScreenResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackScreenResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackScreenResponse"
                }
              }
            }
          },
          "404": {
            "description": "バージョンが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackScreenResponse"
                }
              }
            }
          },
          "500": {
            "description": "ロールバック失敗",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackScreenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/screens/{screenId}/publish": {
      "post": {
        "tags": [
          "Screens"
        ],
        "summary": "画面公開",
        "description": "\n            指定バージョンをPUBLISHED状態に変更します。既存の公開バージョンは自動的にDRAFTに戻ります。\n\n            **権限:** SCREEN_DEFINITION:WRITE\n        ",
        "operationId": "publishScreen",
        "parameters": [
          {
            "name": "screenId",
            "in": "path",
            "description": "画面ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishScreenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "公開成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          },
          "404": {
            "description": "画面またはバージョンが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/screens/{screenId}/deploy": {
      "post": {
        "tags": [
          "Screens"
        ],
        "summary": "画面デプロイ",
        "description": "\n            最新DRAFTを新規PUBLISHEDバージョンとしてCDN経由で配信可能にします。\n\n            **権限:** SCREEN_DEFINITION:WRITE\n        ",
        "operationId": "deployScreen",
        "parameters": [
          {
            "name": "screenId",
            "in": "path",
            "description": "画面ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployScreenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "デプロイ成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeployScreenResponse"
                }
              }
            }
          },
          "400": {
            "description": "compiledCodeが空",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeployScreenResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeployScreenResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeployScreenResponse"
                }
              }
            }
          },
          "404": {
            "description": "画面が存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeployScreenResponse"
                }
              }
            }
          },
          "500": {
            "description": "デプロイ失敗",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeployScreenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/permissions/grant": {
      "post": {
        "tags": [
          "Database Permissions"
        ],
        "summary": "権限付与",
        "description": "\n            指定ユーザーにデータベース権限を付与します。\n\n            **権限:** EDIT権限\n        ",
        "operationId": "grantPermission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantPermissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "付与成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasePermissionDto"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasePermissionDto"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasePermissionDto"
                }
              }
            }
          },
          "403": {
            "description": "権限不足（EDIT権限が必要）",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasePermissionDto"
                }
              }
            }
          },
          "409": {
            "description": "権限が既に付与済み",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasePermissionDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "データベース一覧取得",
        "description": "\n            マルチテナント対応のデータベース定義一覧を取得します。\n\n            **特徴:**\n            - ページネーション対応（limit/nextToken）\n            - 状態フィルタ（DRAFT/PUBLISHED）\n            - 権限フィルタリング（EDIT/VIEW/BUSINESS_ACCESS）\n\n            **権限:** FORM_DEFINITION:READ\n        ",
        "operationId": "listForms",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "取得件数上限（デフォルト20、最大100）",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "次ページ取得用トークン",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "データベース状態フィルタ",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultDTOFormDefinitionDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultDTOFormDefinitionDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "新規データベース作成",
        "description": "\n            新しいデータベース定義を作成します。\n\n            **リクエスト例:**\n            ```json\n            {\n              \"title\": \"顧客管理データベース\",\n              \"schema\": {\n                \"fields\": [\n                  {\"fieldCode\": \"name\", \"label\": \"名前\", \"type\": \"STRING\"}\n                ]\n              }\n            }\n            ```\n\n            **権限:** FORM_DEFINITION:WRITE\n        ",
        "operationId": "createForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "作成成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/answers": {
      "get": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答一覧取得",
        "description": "\n            回答一覧をProjection Tableから高速取得します。ページネーション・検索対応。\n\n            **権限:** FORM_ANSWER:READ + BUSINESS_ACCESS権限\n        ",
        "operationId": "listAnswers",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得件数上限（デフォルト20、最大100）",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "次ページ取得用トークン",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "検索キーワード（部分一致）",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerListResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答作成",
        "description": "\n            データベースに新しい回答を作成します。バリデーション付き。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "createAnswer",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormAnswerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "作成成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormAnswerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/answers/{answerId}/copy": {
      "post": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答コピー",
        "description": "\n            回答をコピーして新しい回答を作成します。サブデータベースや配列データの選択的コピーが可能。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "copyAnswer",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "コピー元回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyAnswerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "コピー成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CopyAnswerResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CopyAnswerResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CopyAnswerResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CopyAnswerResponse"
                }
              }
            }
          },
          "404": {
            "description": "コピー元回答が存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CopyAnswerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/answers/export": {
      "post": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答CSV出力",
        "description": "\n            回答データをCSV形式でZipファイルとしてエクスポートします。\n            UTF-8 BOM付き（Excel文字化け対策）。最大1000件。\n\n            **権限:** FORM_ANSWER:READ + BUSINESS_ACCESS権限\n        ",
        "operationId": "exportAnswers",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "検索キーワード",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "エクスポート件数上限（最大1000）",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "example": 1000
          },
          {
            "name": "includeArrayFields",
            "in": "query",
            "description": "出力対象ARRAYフィールドパス（例: negotiations, negotiations.tasks）",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "エクスポート成功（application/zip）",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/answers/bulk-delete": {
      "post": {
        "tags": [
          "Form Answers"
        ],
        "summary": "回答一括削除",
        "description": "\n            複数の回答を一括削除します（最大100件）。部分成功をサポートし、個別の結果を返します。\n\n            **権限:** FORM_ANSWER:WRITE + BUSINESS_ACCESS権限\n        ",
        "operationId": "bulkDeleteAnswers",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "一括削除結果",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/search/range": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "範囲検索",
        "description": "\n            指定フィールドの値の範囲で検索を実行します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "rangeSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RangeSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "検索成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RangeSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RangeSearchResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RangeSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/search/fulltext": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "全文検索",
        "description": "\n            指定フィールドに対する全文検索を実行します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "fullTextSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullTextSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "検索成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FullTextSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FullTextSearchResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FullTextSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/search/faceted": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "ファセット検索",
        "description": "\n            ファセット（分類集計）付き検索を実行します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "facetedSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FacetedSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "検索成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FacetedSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FacetedSearchResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FacetedSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/search/advanced": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "高度検索",
        "description": "\n            条件指定による高度検索を実行します。複数フィルタ・ページネーション対応。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "advancedSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "検索成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/invitations/accept": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "招待承認（リクエストボディ）",
        "description": "\n            リクエストボディでトークンを指定して招待を承認します。\n\n            **権限:** 認証済みユーザー（ADMIN不要）\n        ",
        "operationId": "acceptInvitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptInvitationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "承認成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "無効なトークン",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/invitations/accept/{token}": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "招待承認（トークン指定）",
        "description": "\n            メールリンクのトークンで招待を承認し、ユーザーレコードとロールを作成します。\n\n            **権限:** 認証済みユーザー（ADMIN不要）\n        ",
        "operationId": "acceptInvitationByToken",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "招待トークン",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "承認成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "無効なトークン",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/answers/{answerId}/nodes": {
      "get": {
        "tags": [
          "Nodes"
        ],
        "summary": "全ノード取得",
        "description": "\n            指定回答に属する全ノードを取得します。\n\n            **権限:** USER または ADMIN\n        ",
        "operationId": "getAllNodes",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NodeResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NodeResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NodeResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Nodes"
        ],
        "summary": "子ノード作成",
        "description": "\n            指定した親ノードの下に子ノードを作成します。\n\n            **権限:** USER または ADMIN\n        ",
        "operationId": "createChildNode",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/answers/{answerId}/nodes/{rowId}/copy": {
      "post": {
        "tags": [
          "Nodes"
        ],
        "summary": "ノードコピー",
        "description": "\n            指定IDのノードをコピーして新しいノードを作成します。\n\n            **権限:** USER または ADMIN\n        ",
        "operationId": "copyNode",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "description": "回答ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "description": "行ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "コピー成功",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "ノードが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/aggregates/sum": {
      "post": {
        "tags": [
          "Aggregates"
        ],
        "summary": "SUM集計",
        "description": "\n            指定フィールドの合計値を計算します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "sum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SumRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "集計成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SumResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SumResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SumResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/aggregates/min": {
      "post": {
        "tags": [
          "Aggregates"
        ],
        "summary": "MIN集計",
        "description": "\n            指定フィールドの最小値を取得します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "min",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaxMinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "集計成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MinResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MinResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MinResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/aggregates/max": {
      "post": {
        "tags": [
          "Aggregates"
        ],
        "summary": "MAX集計",
        "description": "\n            指定フィールドの最大値を取得します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "max",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaxMinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "集計成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MaxResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MaxResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MaxResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/aggregates/group-by": {
      "post": {
        "tags": [
          "Aggregates"
        ],
        "summary": "GROUP BY集計",
        "description": "\n            指定フィールドでグループ化して集計を実行します。HAVING句対応。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "groupBy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupByRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "集計成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupByResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupByResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupByResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/aggregates/count": {
      "post": {
        "tags": [
          "Aggregates"
        ],
        "summary": "COUNT集計",
        "description": "\n            条件に一致するデータベース回答の件数をカウントします。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "count",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "集計成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/aggregates/average": {
      "post": {
        "tags": [
          "Aggregates"
        ],
        "summary": "AVERAGE集計",
        "description": "\n            指定フィールドの平均値を計算します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "average",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AverageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "集計成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AverageResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AverageResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AverageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/forms/{formId}/public-settings": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "公開設定取得",
        "description": "\n            データベースの現在の公開設定を取得します。\n\n            **権限:** FORM_DEFINITION:READ\n        ",
        "operationId": "getPublicSettings",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "データベースが存在しない",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "公開設定更新",
        "description": "\n            データベースの公開設定を更新し、公開URLを生成します。\n\n            **権限:** FORM_DEFINITION:WRITE\n        ",
        "operationId": "updatePublicSettings",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "データベースID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicFormSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限不足",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSettingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "ユーザー一覧取得",
        "description": "\n            テナント内のユーザー一覧をページネーション付きで取得します。\n\n            **権限:** ADMIN\n        ",
        "operationId": "getAllUsers",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserPageResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserPageResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "権限不足（ADMIN必須）",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserPageResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/summary": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "ユーザーサマリー取得",
        "description": "\n            USERフィールドのドロップダウン用ユーザーサマリー一覧を取得します。\n\n            **権限:** FORM_ANSWER:READ\n        ",
        "operationId": "getUserSummary",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "取得件数上限（デフォルト100、最大1000）",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "取得成功",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserSummaryDto"
                  }
                }
              }
            }
          },
[...]
